@media screen and ( max-width: 1260px ) {
    .container {
        margin: var( --large-distance );
    }
}

@media screen and ( max-width: 1100px ) {
    header {
        display: block;
    }

    #languageSelect {
        position: absolute;
        top: 50%;
        transform: translate( 0, -50% );
        right: var(--large-distance);
    }

    #bars {
        margin-left: var(--medium-distance);
    }

    .container-image {
        width: 180px;
    }
}

@media screen and ( max-width: 950px ) {
    :root {
        --large-font-size: 50px;
    }

    .container-image {
        width: 150px;
    }

    #openedImage .opened-image {
        width: 48%;
        height: auto;
    }
}

@media screen and ( max-width: 850px ) {
    :root {
        --large-font-size: 40px;
    }

    .container-image {
        width: 120px;
    }
}

@media screen and ( max-width: 700px ) {

    .container-images {
        grid-template-columns: repeat( 2, 1fr );
        gap: var( --small-distance );
    }
}

@media screen and ( max-width: 600px ) {
    :root {
        --medium-font-size: 20px;
        --large-font-size: 30px;
    }

    .logo-frame {
        height: 150px;
    }

    .container-image {
        width: 100px;
    }

    #openedImage {
        height: 70%;
    }

    .partners {
        gap: 0;
    }

    .partners img {
        width: 100px;
    }

    .partners .image-title {
        font-size: 9px;
    }
}

@media screen and ( max-width: 500px ) {
    #openedImage .opened-image {
        width: 50%;
    }
}

@media screen and ( max-width: 400px ) {
    :root {
        --large-font-size: 20px;
    }

    * {
        font-size: 12px;
    }

    .logo-frame {
        height: 120px;
    }
}
