@media screen and ( max-width: 1260px ) {
    #header {
        grid-template-columns: 1fr 3fr 1fr;
    }

    .container {
        margin: var( --large-distance );
    }

    .container-title {
        font-size: 60px;
    }

    .medium {
        font-size: 40px;
    }
}

@media screen and ( max-width: 1100px ) {
    :root {
        --medium-distance: 14px;
        --small-distance: 8px;
    }

    #languageSelect {
        position: absolute;
        top: 50%;
        transform: translate( 0, -50% );
        right: var( --medium-distance );
    }

    .container-image {
        width: 170px;
    }
}

@media screen and ( max-width: 1000px ) {
    nav {
        border: 0;
        padding: var( --small-distance );
    }

    .container-image {
        width: 130px;
    }
}

@media screen and ( max-width: 900px ) {
    #logo img {
        width: 100%;
    }

    .container-title {
        font-size: 40px;
    }

    .medium {
        font-size: var( --medium-font-size );
    }

    .container-info, .container-info ul li, .link {
        font-size: var( --small-font-size );
    }

    .container-info {
        text-indent: 15px;
    }

    .container ul {
        margin-left: 30px;
    }

    #openedImage .image {
        width: 55%;
        height: auto;
    }
}

@media screen and ( max-width: 700px ) {
    :root {
        --large-distance: 30px;
    }

    .container-title {
        font-size: var( --large-font-size );
    }

    .container-info, .container-info ul li, .link {
        font-size: 12px;
    }

    #partners img {
        width: 200px;
    }

    .button {
        width: 200px;
        height: 40px;
        font-size: var( --medium-font-size );
    }

    .medium {
        font-size: 16px;
    }

    .container-image {
        width: 90px;
    }
}

@media screen and ( max-width: 600px ) {
    .partners {
        gap: 50px;
    }

    #partners img {
        width: 130px;
    }

    #partners .image-title {
        font-size: 10px;
    }

    .images {
        grid-template-columns: repeat( 3, 1fr );
        justify-items: center;
    }

    #openedImage .image {
        width: 60%;
    }
}

@media screen and ( max-width: 500px ) {
    #partners {
        gap: 0px;
    }

    .container-image {
        width: 70px;
    }
}

@media screen and ( max-width: 400px ) {
    #partners img {
        width: 100px;
    }
}
