:root {
    --first-color: white;
    --second-color: #07074d;
    --third-color: #030a14;
    --fourth-color: grey;
    --small-font-size: 10px;
    --medium-font-size: 30px;
    --large-font-size: 60px;
    --small-distance: 10px;
    --medium-distance: 15px;
    --large-distance: 30px;
    --thin-transparent-border: 2px solid transparent;
    --thin-border: 2px solid white;
    --thick-border: 4px solid white;
    --main-border-radius: 20px;
    --long-transition: 0.5s;
    --main-button-width: 200px;
    --main-input-width: 300px;
    --main-input-height: 60px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('@/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('@/assets/fonts/Roboto-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    color: var(--first-color);
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 130%;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: var(--second-color);
}

a {
    text-decoration: none;
}

.location-now {
    border-bottom-color: var(--first-color);
}

.container {
    margin: var(--large-distance) 90px;
    padding: var(--large-distance);
    border: var(--thick-border);
    border-radius: var(--main-border-radius);
    text-align: center;
}

.container-title {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: var(--large-font-size);
}

.container-title,
.container-images,
.video-frame {
    margin-bottom: var(--large-distance);
}

.container-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--medium-distance);
    align-items: center;
    width: min-content;
    margin-left: 50%;
    transform: translate(-50%);
    padding: var(--medium-distance);
    border: var(--thin-border);
    border-radius: var(--main-border-radius);
}

.container-image {
    width: 230px;
    cursor: pointer;
}

.container-image:hover {
    scale: 1.1;
}

.video-frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.container-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radius);
}

.container-info {
    text-align: left;
    margin-right: var(--large-distance);
}

.container ul {
    margin-left: var(--large-distance) ;
}

.highlighted {
    border-bottom: var(--thin-border);
}

.link {
    color: #00ffff;
    border-bottom: var(--thin-transparent-border);
}

.link:hover {
    border-bottom-color: #00ffff;
}

.button {
    width: var(--main-input-width);
    height: var(--main-input-height);
    background: transparent;
    font-size: var(--medium-font-size);
    border: var(--thin-border);
    border-radius: var(--main-border-radius);
    margin-top: var(--large-distance);
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}

.custom-select {
    width: min-content;
    user-select: none;
}

.custom-select-arrow {
    transform-origin: top;
    transition: var(--long-transition);
}

.custom-select:hover .custom-select-arrow {
    rotate: -180deg;
}

.custom-select-options {
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 10;
    transition: var(--long-transition);
}

.custom-select-button,
.custom-select-option {
    width: var(--main-button-width);
    background-color: var(--second-color);
    padding: var(--medium-distance);
    border: var(--thin-border);
    border-radius: var(--main-border-radius);
    cursor: pointer;
}

.custom-select-button {
    position: relative;
}

.custom-select-option:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}

.selected-option {
    background-color: var(--first-color);
    color: var(--second-color);
}
